In [1]:
import pandas as pd

In [2]:
full_results = pd.read_csv('../../cc_election_cleaning/election_results_with_vote_sponsor_cluster_FEB13.csv')

In [3]:
dldc = pd.read_csv('../../cc_election_cleaning/district_level_demo_clusters.csv')

In [11]:
dldc.sort_values(by='demo_cluster')

    district                  candidate  demo_cluster
33        34         Jennifer Gutierrez             0
35        36                Chi A. Osse             0
36        37                Sandy Nurse             0
6          7                Shaun Abreu             0
7          8             Diana I. Ayala             0
8          9  Kristin Richardson Jordan             0
9         10       Carmen N. De La Rosa             0
10        11              Eric Dinowitz             0
17        18              Amanda Farias             0
16        17       Rafael Salamanca Jr.             0
13        14        Pierina Ana Sanchez             0
14        15               Oswald Feliz             0
15        16          Althea V. Stevens             0
50        51             Joseph Borelli             1
29        30           Robert F. Holden             1
31        32               Joann Ariola             1
12        13         Marjorie Velazquez             1
42        43             Justin Brannan             1
48        49             Kamillah Hanks             1
49        50              David M. Carr             1
37        38               Alexa Aviles             2
43        44               Kalman Yeger             2
46        47                  Ari Kagan             2
47        48                        NaN             2
28        29           Lynn C. Schulman             2
25        26                  Julie Won             2
23        24           James F. Gennaro             2
22        23                  Linda Lee             2
21        22              Tiffany Caban             2
20        21          Francisco P. Moya             2
19        20                 Sandra Ung             2
18        19            Vickie Paladino             2
24        25            Shekar Krishnan             2
38        39           Shahana K. Hanif             3
1          2             Carlina Rivera             3
2          3           Erik D. Bottcher             3
3          4               Keith Powers             3
4          5                Julie Menin             3
5          6             Gale A. Brewer             3
0          1          Christopher Marte             3
34        35             Crystal Hudson             3
32        33            Lincoln Restler             3
40        41              Darlene Mealy             4
41        42             Charles Barron             4
11        12                Kevin Riley             4
44        45             Farah N. Louis             4
45        46          Mercedes Narcisse             4
30        31   Selvena N. Brooks-Powers             4
27        28          Adrienne E. Adams             4
39        40             Rita C. Joseph             4
26        27       Nantasha M. Williams             4

In [4]:
full_results_winner = full_results[full_results['winner'] == True]

In [5]:
full_results_winner.columns

Index(['Precinct', 'vote', 'total_vote_precinct', 'vote_share', 'ed_name',
       'winner', 'rank', 'district', 'candidate', 'matched_name',
       'kmode_cluster', 'member', 'ElectDist_x', 'ML4', 'ML6', 'ML5', 'ML2',
       'ML7', 'ML3', 'ML1', 'district_cluster', 'ElectDist_y', 'Shape_Leng',
       'Shape_Area', 'geometry', 'min_noise', 'max_noise',
       'summer_noise_complaints', 'min_arrests', 'max_arrests', 'density',
       'ldensity', 'p21own', 'p21rent', 'mhhi21', 'mean_noise', 'mean_arrests',
       'living_alone_ratio', 'same_sex_ratio', 'black_nys_ratio',
       'black_fb_ratio', 'white_transplant_ratio', 'femHHH_ratio',
       'drive_ratio', 'train_ratio', 'walk_ratio', 'bike_ratio', 'wfh_ratio',
       'bus_ratio', 'hh21olongp', 'h21p', 'nha21p', 'nhb21p', 'nhw21p',
       'mex21p', 'prican21p', 'domin21p', 'colomb21p', 'kor21p', 'chin21p',
       'venez21p', 'hh21op', 'hh21rc', 'range_of_arrests', 'range_of_noise',
       'cvap21bapp', 'rv21irp', 'rv21italp', 'pg20jrbp', 'pg20djtp', 'dpp20bs',
       'adams213p', 'garcia213p', 'winda21p', 'perc_retail', 'perc_finance',
       'perc_healthcare'],
      dtype='object')

In [6]:
key_demo_cols = [ 'district', 'cvap21bapp', 'mhhi21','h21p', 'nha21p', 'nhb21p', 'nhw21p','winda21p', 'white_transplant_ratio']
full__results_key_demo = full_results_winner[key_demo_cols]
ag = full__results_key_demo.groupby('district').agg('mean').reset_index()

In [7]:
demographic_cols = ['cvap21bapp', 'mhhi21', 'h21p', 'nha21p', 'nhb21p', 'nhw21p','winda21p', 'white_transplant_ratio']

In [8]:
for col in demographic_cols:
    ag[col + '_quintile'] = pd.qcut(ag[col], 5, labels=False) + 1

In [12]:
ag[ag['district'] == 38]

,district,cvap21bapp,mhhi21,h21p,nha21p,nhb21p,nhw21p,winda21p,white_transplant_ratio,cvap21bapp_quintile,mhhi21_quintile,h21p_quintile,nha21p_quintile,nhb21p_quintile,nhw21p_quintile,winda21p_quintile,white_transplant_ratio_quintile
37,38,36.109126,32537.162264,34.649075,32.466191,4.139582,25.284843,0.558541,7.473826,3,3,4,5,2,3,2,4